In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
df = pd.DataFrame(pd.read_excel('./datasci/cleanedup/whl_2025_base.xlsx'))
df.head()

,game_id,record_id,home_team,away_team,went_ot,home_off_line,home_def_pairing,away_off_line,away_def_pairing,home_goalie,...,home_goals,away_assists,away_shots,away_xg,away_max_xg,away_goals,home_penalties_committed,home_penalty_minutes,away_penalties_committed,away_penalty_minutes
0,game_0001,record_1,thailand,pakistan,0,PP_kill_dwn,PP_kill_dwn,PP_up,PP_up,player_id_142,...,0,2,9,1.4645,0.2166,1,7,14,1,2
1,game_0001,record_2,thailand,pakistan,0,second_off,second_def,second_off,second_def,player_id_142,...,0,2,1,0.0928,0.0928,1,0,0,0,0
2,game_0001,record_19,thailand,pakistan,0,second_off,first_def,first_off,second_def,player_id_142,...,0,0,0,0.0000,0.0000,0,0,0,0,0
3,game_0001,record_11,thailand,pakistan,0,second_off,first_def,second_off,second_def,player_id_142,...,0,0,1,0.0763,0.0763,0,0,0,0,0
4,game_0001,record_10,thailand,pakistan,0,second_off,second_def,first_off,first_def,player_id_142,...,0,0,0,0.0000,0.0000,0,0,0,0,0

In [24]:
'''
IDENTIFIERS:
- game_id
- record_id

ENTITIES:
- home_team
- away_team
- home_goalie
- away_goalie

CONTEXT:
- home_off_line
- away_off_line
- home_def_pairing
- away_def_pairing
- went_ot

OUTCOMES:
- home_goals
- away_goals
- home_shots
- away_shots
- home_penalties_committed
- away_penalties_committed

DERIVED METRICS:
- home_xg
- away_xg
- home_max_xg
- away_max_xg
'''

'\nIDENTIFIERS:\n- game_id\n- record_id\n\nENTITIES:\n- home_team\n- away_team\n- home_goalie\n- away_goalie\n\nCONTEXT:\n- home_off_line\n- away_off_line\n- home_def_pairing\n- away_def_pairing\n- went_ot\n\nOUTCOMES:\n- home_goals\n- away_goals\n- home_shots\n- away_shots\n- home_penalties_committed\n- away_penalties_committed\n\nDERIVED METRICS:\n- home_xg\n- away_xg\n- home_max_xg\n- away_max_xg\n'

In [25]:
sum_cols = [
    "home_goals", "away_goals",
    "home_shots", "away_shots",
    "home_xg", "away_xg",
    "home_assists", "away_assists",
    "home_penalties_committed", "away_penalties_committed",
    "home_penalty_minutes", "away_penalty_minutes",
    "toi",
]
first_cols = [
    "home_team",
    "away_team",
    "went_ot"
]
agg_dict = {}

for col in sum_cols:
    agg_dict[col] = "sum"

for col in first_cols:
    agg_dict[col] = "first"
games = (
    df
    .groupby("game_id", as_index=False)
    .agg(agg_dict)
)
games.shape

(1312, 17)

In [26]:
games["home_score"] = games["home_goals"]
games["away_score"] = games["away_goals"]

games["goal_diff"] = games["home_score"] - games["away_score"]
games["total_goals"] = games["home_score"] + games["away_score"]

games["shot_diff"] = games["home_shots"] - games["away_shots"]
games["total_shots"] = games["home_shots"] + games["away_shots"]
games["total_toi"] = games["toi"]

games

,game_id,home_goals,away_goals,home_shots,away_shots,home_xg,away_xg,home_assists,away_assists,home_penalties_committed,...,home_team,away_team,went_ot,home_score,away_score,goal_diff,total_goals,shot_diff,total_shots,total_toi
0,game_0001,1,3,21,24,2.8231,2.7516,2,6,8,...,thailand,pakistan,0,1,3,-2,4,-3,45,3599.99
1,game_0002,3,2,31,27,3.4075,3.0509,4,4,9,...,france,morocco,1,3,2,1,5,4,58,3797.73
2,game_0003,4,3,42,26,4.8049,2.3901,6,6,6,...,peru,iceland,1,4,3,1,7,16,68,5323.38
3,game_0004,0,1,19,16,1.6322,1.6166,0,2,6,...,mongolia,saudi_arabia,0,0,1,-1,1,3,35,3600.00
4,game_0005,4,1,32,42,3.1535,4.7456,7,1,9,...,usa,guatemala,0,4,1,3,5,-10,74,3599.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,game_1308,2,0,13,24,1.2708,2.4745,3,0,7,...,switzerland,france,0,2,0,2,2,-11,37,3600.01
1308,game_1309,5,4,29,29,4.2460,2.3279,9,5,2,...,netherlands,south_korea,0,5,4,1,9,0,58,3600.00
1309,game_1310,1,3,21,19,3.0211,2.1164,1,5,6,...,uk,uae,0,1,3,-2,4,2,40,3600.01
1310,game_1311,3,0,18,24,2.4804,1.9921,5,0,6,...,brazil,rwanda,0,3,0,3,3,-6,42,3599.99
1311,game_1312,3,4,37,48,3.7095,4.8877,6,7,6,...,india,singapore,1,3,4,-1,7,-11,85,4554.63

In [27]:
home_games = games.copy()

home_games["team"] = home_games["home_team"]
home_games["opponent"] = home_games["away_team"]

home_games["goals_for"] = home_games["home_score"]
home_games["goals_against"] = home_games["away_score"]

home_games["shots_for"] = home_games["home_shots"]
home_games["shots_against"] = home_games["away_shots"]

home_games["xg_for"] = home_games["home_xg"]
home_games["xg_against"] = home_games["away_xg"]

home_games["is_home"] = 1

In [28]:
away_games = games.copy()

away_games["team"] = away_games["away_team"]
away_games["opponent"] = away_games["home_team"]

away_games["goals_for"] = away_games["away_score"]
away_games["goals_against"] = away_games["home_score"]

away_games["shots_for"] = away_games["away_shots"]
away_games["shots_against"] = away_games["home_shots"]

away_games["xg_for"] = away_games["away_xg"]
away_games["xg_against"] = away_games["home_xg"]
away_games["is_home"] = 0

In [29]:
# --- LOGIC FOR TOI (The Normalization Key) ---
# 1. Rate Normalization: NEVER use raw xG or Goals for rankings.
#    Always calculate (Stat / toi) * 3600 to get the 'Per 60' rate.
#
# 2. Fatigue Analysis: Track total TOI for 'first_def' and 'first_off'.
#    Teams with extreme workloads for top units should get a 'Sustainability Penalty'
#    in long-term power rankings.
#
# 3. Small Sample Filter: Ignore or down-weight lines with less than
#    a certain threshold of total TOI (e.g., 500 seconds) to avoid 'fluke' stats.
#
# 4. Efficiency Mapping: Combine TOI with xG to see which lines are the
#    most 'lethal' per minute played.
# --- LOGIC FOR SHOTS & ASSISTS (Style & Luck Filter) ---
# 1. Shooting Percentage: (home_goals / home_shots).
#    - Identify 'Sustainability': If a team's shooting % is way above the league average,
#      expect their Power Ranking to drop later (regression).
#
# 2. Playmaking Grade: (home_assists / home_goals).
#    - High ratios indicate 'System Teams' with high puck movement.
#    - Low ratios indicate 'Individualist Teams' (reliant on solo efforts/turnovers).
#
# 3. Chaos Generator: Identify teams with high 'Shots per 60' but low xG.
#    - These teams play a 'dirty' game—relying on rebounds and volume rather than skill.
#
# 4. Assist Map: Link assists to off_line.
#    - Does the 1st line rely on assists while the 2nd line scores solo?
#    - ACTION: Use this to determine which line is easier to 'scout' and shut down.
# --- LOGIC FOR PENALTIES (The Discipline & Chaos Metric) ---
# 1. Discipline Rating: Calculate 'Penalty Minutes per 60'.
#    - Identify teams that 'beat themselves'. A high-penalizing team
#      should have their Power Score docked for 'Unreliability'.
#
# 2. Special Teams Exposure: Compare 'home_penalties' vs 'away_penalties'.
#    - If away_penalties >> home_penalties, the team is mentally fragile on the road.
#
# 3. Penalty-Adjusted xG: Create a 'Clean-Play xG' by filtering out records
#    where home_penalty == 1. This shows how good a team is when playing fair.
#
# 4. The 'Instigator' Factor: Does a team draw more penalties than they take?
#    - Compare 'home_penalties' vs 'away_penalties' in the same game.
#    - Teams that 'draw' penalties have high 'Functional Aggression'.

In [30]:
team_games = pd.concat([home_games, away_games], ignore_index=True)
team_games["goal_diff"] = team_games["goals_for"] - team_games["goals_against"]

team_games["win"] = (team_games["goal_diff"] > 0).astype(int)
team_games["loss"] = (team_games["goal_diff"] < 0).astype(int)
team_season = (
    team_games
    .groupby("team", as_index=False)
    .agg(
        games_played = ("team", "count"),
        wins = ("win", "sum"),
        losses = ("loss", "sum"),
        goals_for = ("goals_for", "sum"),
        goals_against = ("goals_against", "sum"),
        shots_for = ("shots_for", "sum"),
        shots_against = ("shots_against", "sum"),
        xg_for = ("xg_for", "sum"),
        xg_against = ("xg_against", "sum"),
        avg_goal_diff = ("goal_diff", "mean"),
        home_games = ("is_home", "sum"),
        toi = ("toi", "sum"),
    ))
team_season["goals_per_game"] = team_season["goals_for"] / team_season["games_played"]
team_season["goals_against_per_game"] = team_season["goals_against"] / team_season["games_played"]

team_season["shot_diff"] = team_season["shots_for"] - team_season["shots_against"]
team_season["xg_diff"] = team_season["xg_for"] - team_season["xg_against"]
team_season["win_pct"] = team_season["wins"] / team_season["games_played"]
team_season["loss_pct"] = team_season["losses"] / team_season["games_played"]
team_season

,team,games_played,wins,losses,goals_for,goals_against,shots_for,shots_against,xg_for,xg_against,avg_goal_diff,home_games,toi,goals_per_game,goals_against_per_game,shot_diff,xg_diff,win_pct,loss_pct
0,brazil,82,58,24,276,189,2162,2242,272.4793,221.8266,1.060976,41,304278.43,3.365854,2.304878,-80,50.6527,0.707317,0.292683
1,canada,82,36,46,222,265,2208,2092,241.1339,233.5842,-0.524390,41,303885.32,2.707317,3.231707,116,7.5497,0.439024,0.560976
2,china,82,47,35,239,193,2156,2187,255.9170,220.9786,0.560976,41,306340.66,2.914634,2.353659,-31,34.9384,0.573171,0.426829
3,ethiopia,82,43,39,267,247,2192,2441,239.4199,262.6881,0.243902,41,302833.12,3.256098,3.012195,-249,-23.2682,0.524390,0.475610
4,france,82,37,45,241,265,2250,2041,266.6524,234.1395,-0.292683,41,310605.14,2.939024,3.231707,209,32.5129,0.451220,0.548780
5,germany,82,36,46,253,274,2052,2109,239.1072,253.0021,-0.256098,41,301898.10,3.085366,3.341463,-57,-13.8949,0.439024,0.560976
6,guatemala,82,42,40,231,236,2370,2470,255.6880,232.8100,-0.060976,41,305293.72,2.817073,2.878049,-100,22.8780,0.512195,0.487805
7,iceland,82,46,36,238,209,2074,2297,230.0624,248.6737,0.353659,41,305328.83,2.902439,2.548780,-223,-18.6113,0.560976,0.439024
8,india,82,49,33,221,193,2373,2208,239.3359,237.9323,0.341463,41,307629.66,2.695122,2.353659,165,1.4036,0.597561,0.402439
9,indonesia,82,41,41,221,210,2158,2091,215.9004,238.3377,0.134146,41,306987.96,2.695122,2.560976,67,-22.4373,0.500000,0.500000
10,kazakhstan,82,30,52,193,248,1986,1955,209.8053,231.4215,-0.670732,41,305423.62,2.353659,3.024390,31,-21.6162,0.365854,0.634146
11,mexico,82,38,44,236,253,2377,2145,263.9575,222.7647,-0.207317,41,308868.23,2.878049,3.085366,232,41.1928,0.463415,0.536585
12,mongolia,82,27,55,179,244,2018,2314,187.5990,268.4970,-0.792683,41,307094.47,2.182927,2.975610,-296,-80.8980,0.329268,0.670732
13,morocco,82,37,45,249,269,2360,2473,249.5033,243.6248,-0.243902,41,309973.69,3.036585,3.280488,-113,5.8785,0.451220,0.548780
14,netherlands,82,54,28,243,174,2124,2018,242.4986,201.8032,0.841463,41,310346.06,2.963415,2.121951,106,40.6954,0.658537,0.341463
15,new_zealand,82,40,42,219,226,2175,1967,241.2646,238.3313,-0.085366,41,303398.51,2.670732,2.756098,208,2.9333,0.487805,0.512195
16,oman,82,35,47,241,283,2176,2287,244.9371,279.4926,-0.512195,41,304951.39,2.939024,3.451220,-111,-34.5555,0.426829,0.573171
17,pakistan,82,49,33,263,212,2457,1988,284.7034,233.4620,0.621951,41,301873.46,3.207317,2.585366,469,51.2414,0.597561,0.402439
18,panama,82,46,36,255,213,2235,2174,257.4552,241.3937,0.512195,41,304529.73,3.109756,2.597561,61,16.0615,0.560976,0.439024
19,peru,82,52,30,256,178,2311,2001,244.5499,214.9336,0.951220,41,313239.44,3.121951,2.170732,310,29.6163,0.634146,0.365854
20,philippines,82,43,39,198,186,2100,2160,213.5851,236.1342,0.146341,41,312727.09,2.414634,2.268293,-60,-22.5491,0.524390,0.475610
21,rwanda,82,30,52,202,265,2126,2150,223.8094,256.1218,-0.768293,41,306017.57,2.463415,3.231707,-24,-32.3124,0.365854,0.634146
22,saudi_arabia,82,39,43,195,205,1947,2146,218.9647,230.9676,-0.121951,41,311374.11,2.378049,2.500000,-199,-12.0029,0.475610,0.524390
23,serbia,82,41,41,269,264,2455,2500,277.2881,264.1742,0.060976,41,302140.76,3.280488,3.219512,-45,13.1139,0.500000,0.500000
24,singapore,82,40,42,255,269,2289,2553,257.0207,299.9845,-0.170732,41,309864.37,3.109756,3.280488,-264,-42.9638,0.487805,0.512195
25,south_korea,82,39,43,288,302,2460,2131,259.8572,251.2013,-0.170732,41,305210.15,3.512195,3.682927,329,8.6559,0.475610,0.524390
26,switzerland,82,36,46,201,229,2093,2195,205.2920,237.3820,-0.341463,41,311570.83,2.451220,2.792683,-102,-32.0900,0.439024,0.560976
27,thailand,82,50,32,294,248,2346,2127,294.7369,221.6617,0.560976,41,304080.12,3.585366,3.024390,219,73.0752,0.609756,0.390244
28,uae,82,38,44,202,250,1951,2345,211.3954,242.3641,-0.585366,41,313436.69,2.463415,3.048780,-394,-30.9687,0.463415,0.536585
29,uk,82,39,43,244,211,2272,2107,276.3125,240.0014,0.402439,41,308052.23,2.975610,2.573171,165,36.3111,0.475610,0.524390
30,usa,82,35,47,240,287,2171,2400,247.3928,281.6973,-0.573171,41,305381.61,2.926829,3.500000,-229,-34.3045,0.426829,0.573171
31,vietnam,82,39,43,223,257,2067,2177,225.7784,272.0162,-0.414634,41,309692.41,2.719512,3.134146,-110,-46.2378,0.475610,0.524390

In [31]:
# Home offensive line TOI
home_line_toi = (
    df
    .groupby(["home_team", "home_off_line"], as_index=False)
    .agg(
        total_toi=("toi", "sum"),
        games=("game_id", "nunique")
    )
    .rename(columns={
        "home_team": "team",
        "home_off_line": "off_line"
    })
)

home_line_toi["side"] = "home"


# Away offensive line TOI
away_line_toi = (
    df
    .groupby(["away_team", "away_off_line"], as_index=False)
    .agg(
        total_toi=("toi", "sum"),
        games=("game_id", "nunique")
    )
    .rename(columns={
        "away_team": "team",
        "away_off_line": "off_line"
    })
)

away_line_toi["side"] = "away"

line_toi = pd.concat(
    [home_line_toi, away_line_toi],
    ignore_index=True
)
line_toi_total = (
    line_toi
    .groupby(["team", "off_line"], as_index=False)
    .agg(
        total_toi=("total_toi", "sum"),
        games=("games", "sum")
    )
)
print(line_toi_total.head(128))

            team        off_line  total_toi  games
0         brazil     PP_kill_dwn   45337.28     82
1         brazil           PP_up   41928.47     81
2         brazil  empty_net_line     770.67     12
3         brazil       first_off  108743.00     82
4         brazil      second_off  107499.01     82
..           ...             ...        ...    ...
123    singapore       first_off  110835.72     82
124    singapore      second_off  110264.68     82
125  south_korea     PP_kill_dwn   50307.20     82
126  south_korea           PP_up   40802.87     82
127  south_korea  empty_net_line    2983.97     25

[128 rows x 4 columns]

In [32]:
home_lines = (
    df
    .groupby(["home_team", "home_off_line"], as_index=False)
    .agg(
        toi=("toi", "sum"),
        xg=("home_xg", "sum"),
        goals=("home_goals", "sum"),
        games=("game_id", "nunique")
    )
    .rename(columns={
        "home_team": "team",
        "home_off_line": "off_line"
    })
)

away_lines = (
    df
    .groupby(["away_team", "away_off_line"], as_index=False)
    .agg(
        toi=("toi", "sum"),
        xg=("away_xg", "sum"),
        goals=("away_goals", "sum"),
        games=("game_id", "nunique")
    )
    .rename(columns={
        "away_team": "team",
        "away_off_line": "off_line"
    })
)

off_lines = pd.concat([home_lines, away_lines], ignore_index=True)

off_lines = off_lines[off_lines["toi"] >= 500].copy()

off_lines["xg_60"] = off_lines["xg"] / off_lines["toi"] * 3600
off_lines["goals_60"] = off_lines["goals"] / off_lines["toi"] * 3600# Get team wins from team_season
team_wins = team_season[["team", "wins"]]
off_lines = off_lines.merge(team_wins, on="team", how="left")

off_lines["efficiency"] = off_lines["xg"] / off_lines["toi"]

team_toi = (
    off_lines
    .groupby("team", as_index=False)
    .agg(team_toi=("toi", "sum"))
)

off_lines = off_lines.merge(team_toi, on="team", how="left")

off_lines["fatigue_ratio"] = off_lines["toi"] / off_lines["team_toi"]

off_lines["overworked"] = off_lines["fatigue_ratio"] > 0.185

off_lines = off_lines.sort_values("goals", ascending=False)
print(off_lines.head(32))
print(off_lines["fatigue_ratio"].describe())

            team    off_line       toi       xg  goals  games     xg_60  \
89        panama       PP_up  21646.73  49.4786     66     41  8.228631
69   netherlands       PP_up  20992.23  54.0857     62     41  9.275266
127  south_korea  second_off  51622.54  38.6679     61     41  2.696583
2         brazil   first_off  54467.22  42.7952     61     41  2.828540
64       morocco       PP_up  24257.46  48.7224     57     41  7.230792
252         peru       PP_up  20502.44  42.4978     56     41  7.462140
25       germany       PP_up  20631.48  48.3203     56     41  8.431440
119    singapore       PP_up  20766.43  51.6766     56     41  8.958485
87      pakistan  second_off  52828.80  42.3835     54     41  2.888209
147           uk  second_off  57127.57  39.6546     54     41  2.498908
245     pakistan  second_off  52104.26  41.1490     54     41  2.843077
20        france       PP_up  25738.55  59.0966     53     41  8.265724
154      vietnam       PP_up  20468.36  44.2777     52     41  7.787616
136     thailand   first_off  54632.17  44.9043     52     41  2.958980
124  south_korea       PP_up  20902.65  46.2661     51     41  7.968270
159       brazil       PP_up  20547.93  45.7166     51     40  8.009554
116       serbia   first_off  54398.47  43.9020     50     41  2.905361
139          uae       PP_up  24195.35  51.5331     50     41  7.667554
277    singapore       PP_up  20023.19  42.8363     49     41  7.701604
174     ethiopia   first_off  54716.79  32.5527     49     41  2.141751
114       serbia       PP_up  22522.27  50.5959     48     40  8.087339
152          usa  second_off  52536.05  31.3502     48     41  2.148253
222      morocco       PP_up  21648.24  38.1445     48     41  6.343250
137     thailand  second_off  53112.70  43.8609     46     41  2.972909
255         peru  second_off  56859.96  31.3864     46     41  1.987181
282  south_korea       PP_up  19900.22  37.9641     46     41  6.867801
74   new_zealand       PP_up  21844.63  46.3119     46     41  7.632212
44     indonesia       PP_up  22300.45  43.3904     46     40  7.004587
215       mexico  second_off  54455.13  35.8366     46     41  2.369139
10         china       PP_up  20797.34  43.7561     45     41  7.574140
144           uk       PP_up  22758.61  55.3060     45     41  8.748408
54        mexico       PP_up  21252.61  47.1621     45     41  7.988833

      goals_60  wins  efficiency   team_toi  fatigue_ratio  overworked
89   10.976254    46    0.002286  304529.73       0.071082       False
69   10.632505    54    0.002576  310346.06       0.067641       False
127   4.253956    39    0.000749  305210.15       0.169138       False
2     4.031783    58    0.000786  303507.76       0.179459       False
64    8.459253    37    0.002009  309973.69       0.078257       False
252   9.832976    52    0.002073  313239.44       0.065453       False
25    9.771475    36    0.002342  301898.10       0.068339       False
119   9.707976    40    0.002488  309864.37       0.067018       False
87    3.679811    49    0.000802  301873.46       0.175003       False
147   3.402910    39    0.000694  308052.23       0.185448        True
245   3.730981    49    0.000790  301873.46       0.172603       False
20    7.413005    37    0.002296  310605.14       0.082866       False
154   9.145823    39    0.002163  309692.41       0.066093       False
136   3.426553    50    0.000822  304080.12       0.179664       False
124   8.783575    39    0.002213  305210.15       0.068486       False
159   8.935207    58    0.002225  303507.76       0.067701       False
116   3.308917    41    0.000807  302140.76       0.180043       False
139   7.439446    38    0.002130  313436.69       0.077194       False
277   8.809785    40    0.002139  309864.37       0.064619       False
174   3.223873    43    0.000595  302833.12       0.180683       False
114   7.672406    41    0.002246  302140.76       0.074542       False
152   3.289170    35    0.000597  305381.61       0.172034       False
222   7.982173    37    0.001762  309973.69       0.069839       False
137   3.117898    50    0.000826  304080.12       0.174667       False
255   2.912419    52    0.000552  313239.44       0.181522       False
282   8.321516    39    0.001908  305210.15       0.065202       False
74    7.580810    40    0.002120  303398.51       0.072000       False
44    7.425859    41    0.001946  306987.96       0.072643       False
215   3.041036    38    0.000658  308868.23       0.176305       False
10    7.789458    47    0.002104  306340.66       0.067890       False
144   7.118185    39    0.002430  308052.23       0.073879       False
54    7.622593    38    0.002219  308868.23       0.068808       False
count    316.000000
mean       0.101266
std        0.068946
min        0.001767
25%        0.059920
50%        0.073522
75%        0.177877
max        0.194434
Name: fatigue_ratio, dtype: float64

In [33]:
# Check the actual values before the boolean check
print(off_lines[['team', 'off_line', 'toi', 'team_toi', 'fatigue_ratio']].head(10))

# Try a dynamic threshold instead of a hard 0.20
# This identifies the 'top 25%' most used lines in the league
fatigue_threshold = off_lines["fatigue_ratio"].quantile(0.75)
print(f"Top 25% Fatigue Threshold: {fatigue_threshold:.4f}")

off_lines["overworked"] = off_lines["fatigue_ratio"] > fatigue_threshold

            team    off_line       toi   team_toi  fatigue_ratio
89        panama       PP_up  21646.73  304529.73       0.071082
69   netherlands       PP_up  20992.23  310346.06       0.067641
127  south_korea  second_off  51622.54  305210.15       0.169138
2         brazil   first_off  54467.22  303507.76       0.179459
64       morocco       PP_up  24257.46  309973.69       0.078257
252         peru       PP_up  20502.44  313239.44       0.065453
25       germany       PP_up  20631.48  301898.10       0.068339
119    singapore       PP_up  20766.43  309864.37       0.067018
87      pakistan  second_off  52828.80  301873.46       0.175003
147           uk  second_off  57127.57  308052.23       0.185448
Top 25% Fatigue Threshold: 0.1779

In [34]:
# 1. Use the Dynamic Threshold (Top Quartile of the actual data)
# This finds the 'Workhorses' relative to the rest of the league
league_fatigue_cutoff = off_lines["fatigue_ratio"].quantile(0.75)

# 2. Re-calculate the overworked flag
off_lines["overworked"] = off_lines["fatigue_ratio"] > league_fatigue_cutoff

# 3. Validation: Check if we now have 'True' values
overworked_count = off_lines["overworked"].sum()

print(f"League-Wide Fatigue Cutoff: {league_fatigue_cutoff:.4f}")
print(f"Number of 'Overworked' lines identified: {overworked_count}")

# 4. Display the 'Top 10' busiest lines in the league
print("\n--- TOP 10 BUSIEST LINES (RELATIVE FATIGUE) ---")
display(off_lines[['team', 'off_line', 'fatigue_ratio', 'overworked']].head(10))

League-Wide Fatigue Cutoff: 0.1779
Number of 'Overworked' lines identified: 79

--- TOP 10 BUSIEST LINES (RELATIVE FATIGUE) ---

            team    off_line  fatigue_ratio  overworked
89        panama       PP_up       0.071082       False
69   netherlands       PP_up       0.067641       False
127  south_korea  second_off       0.169138       False
2         brazil   first_off       0.179459        True
64       morocco       PP_up       0.078257       False
252         peru       PP_up       0.065453       False
25       germany       PP_up       0.068339       False
119    singapore       PP_up       0.067018       False
87      pakistan  second_off       0.175003       False
147           uk  second_off       0.185448        True

In [36]:
# 1. Filter for only the 'Overworked' lines
fatigue_report = off_lines[off_lines["overworked"] == True].copy()

# 2. Sort by the highest fatigue ratio
fatigue_report = fatigue_report.sort_values("fatigue_ratio", ascending=False)

# 3. Clean up the columns for a 'scouting' look
# We'll show the Team, the specific Line, and how much of the team's time they eat
fatigue_report["Usage %"] = (fatigue_report["fatigue_ratio"] * 100).round(2).astype(str) + "%"
# 1. Create a clean text label based on the overworked flag
off_lines["workload_status"] = off_lines["overworked"].map({
    True: "FATIGUED",
    False: "FRESH"
})

# 2. Display the final scouting table
# We'll filter for a mix of both so you can see the labels in action
# 1. Filter the scouting table for only the second offensive lines
second_off_report = scouting_table[scouting_table["off_line"] == "second_off"].copy()

# 2. Display the filtered table
print("--- SCOUTING REPORT: SECOND LINE WORKLOAD ---")
display(second_off_report[['team', 'off_line', 'fatigue_ratio', 'workload_status']])

# 4. Display the top 20 most overworked lines
print("--- THE FATIGUE WATCHLIST: TOP 20 WORKHORSE LINES ---")
display(fatigue_report[['team', 'off_line', 'Usage %', 'xg_60', 'games']])

--- SCOUTING REPORT: SECOND LINE WORKLOAD ---

            team    off_line  fatigue_ratio workload_status
240         oman  second_off       0.168223           FRESH
127  south_korea  second_off       0.169138           FRESH
265       rwanda  second_off       0.170534           FRESH
285  south_korea  second_off       0.170982           FRESH
310          usa  second_off       0.171501           FRESH
..           ...         ...            ...             ...
147           uk  second_off       0.185448        FATIGUED
205    indonesia  second_off       0.185784        FATIGUED
170        china  second_off       0.186663        FATIGUED
260  philippines  second_off       0.187241        FATIGUED
52    kazakhstan  second_off       0.188105        FATIGUED

[64 rows x 4 columns]

--- THE FATIGUE WATCHLIST: TOP 20 WORKHORSE LINES ---

            team    off_line Usage %     xg_60  games
259  philippines   first_off  19.44%  1.803998     41
204    indonesia   first_off  19.14%  1.763794     41
146           uk   first_off  18.98%  2.656026     41
224      morocco   first_off  18.91%  2.198434     41
169        china   first_off  18.87%  2.308631     41
..           ...         ...     ...       ...    ...
274       serbia   first_off  17.84%  2.680839     41
284  south_korea   first_off  17.81%  2.437100     41
295     thailand  second_off  17.81%  2.820183     41
179       france   first_off   17.8%  2.403443     41
156      vietnam   first_off  17.79%  2.229050     41

[79 rows x 5 columns]